:root {
    --c-bg: #000050;
    --c-f: #000000;
    --c-0: #000000;
    --c-1: #00ff00;
    --c-2: #ffffff;
    --t-p: 16px;
    --t-h1: 32px;
    background-color: var(--c-bg);
    background-image: url("/assets/images/background.png");
}

@font-face {
    font-family: "VGA 8x16";
    font-weight: normal;
    src: url("/assets/fonts/IBMVGAPlus_8x16.woff") format("woff");
}

body {
    background-color: var(--c-0);
    color: var(--c-2);
    margin: 0px 0px;
    width: 640px;
    height: 480px;
}

* {
    font-family: "VGA 8x16", monospace;
    font-weight: normal;
    font-size: var(--t-p);
}

p {
    margin: 0px;
}

h1 {
    color: var(--c-1);
    font-size: var(--t-h1);
    margin: 0px;
}

h2 {
    color: var(--c-1);
    font-size: var(--t-p);
    margin: 0px;
}

a {
    color: var(--c-1);
    text-decoration: inherit;
}

cursor {
    font-size: inherit;
    color: inherit;
}

/* header */
header > links {
    margin: 0px 8px;
}

/* main */
main {
    margin: 0px 8px;
}

/* footer */

main > footer {
    position: fixed;
    left: 0;
    top: calc(480px - 16px);
    width: 640px;
    background-color: var(--c-f);
}